*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
}
#title{
    background-color: lightblue;
    width: 100%;
    padding: 0.5rem;
    text-align: center;
}

h1{
    font-size: 3rem;
    font-family: cursive;
}

h2{
    font-size: 1rem;
    position: relative;
    bottom: 1rem;
}

#nav-link-header{
    background-color: midnightblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 0 4rem;
}

.nav-link{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 0;
    
}

.nav-link:hover{
    background-color: rgb(99, 99, 163);
    color: white;
}

main{
    position: relative;
    top: 9rem;
    background-color: lightgray;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#em-alta{
    width: 20vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

#em-alta-titulo{
    position: relative;
    right: 0.8rem;
}

h4{
    font-size: 1.2rem;
    text-decoration: underline;
}

p{
    font-size: 0.8rem;
}

.em-alta-item{
    padding: 1.3rem 1.5rem;
}

#noticias{
    padding: 0.5rem 0;
    width: 79vw;
    display: flex;
    flex-direction: column;
}

.noticias-row{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

img{
    position: relative;
    height: 30vh;
    width: 12vw;
}

.noticias-item{
    background-color: white;
    height: 30vh;
    width: 35vw;
    display: flex;
}

.noticias-item:hover, .em-alta-item:hover{
    background-color: gainsboro;
    cursor: pointer;
}

.noticias-nav{
    color: rgb(99, 99, 163);
}

.noticias-text, .noticias-title, .noticias-nav{
    margin: 1rem;
}